<form #contactForm="ngForm" (ngSubmit)="submitForm(contactForm.value)">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Your Name" name="name" ngModel required>
  </mat-form-field>

  <mat-radio-group name="gender" ngModel required>
    <mat-radio-button value="male">Male</mat-radio-button>
    <mat-radio-button value="female">Female</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput placeholder="Your Phone" type="tel" name="phone" ngModel required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Your Email" type="email" name="email" ngModel required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Message</mat-label>
    <textarea matInput placeholder="Your Message" name="message" ngModel required maxlength="500"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid">Submit</button>
</form>