.workspace-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
  padding: 0 20px; 
}

button {
  margin-bottom: 20px;
  font-size: 1rem;
}

.item-list {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.item-card {
  margin: 10px 0;
  width: 100%;
}

mat-card-title, mat-card-content, mat-card-footer {
  font-size: 1rem;
  text-wrap: wrap;
}