<mat-sidenav-container autosize="true" class="example-container">
    <mat-sidenav  mode="side" opened >
      <mat-nav-list>
        <a mat-list-item routerLink="/workspace" routerLinkActive="active-link">Workspace</a>
        <a mat-list-item routerLink="/information" routerLinkActive="active-link">Information</a>
        <a mat-list-item routerLink="/contact-us" routerLinkActive="active-link">Contact Us</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  