<mat-toolbar color="primary">
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav-content>
    <div class="content">
      <h1 style="position: fixed; margin-bottom: auto;">Welcome to Dacho Public page</h1>
      <p>Welcome to the official European Portal for ID Cards. Our mission is to provide you with comprehensive information and services related to the issuance, management, and verification of ID cards across Europe. Whether you're a citizen, a resident, or a visitor, this portal is designed to meet your needs and provide you with the necessary resources.</p>
      <div class="banner">
        <img src="assets/banner.jpg" alt="Commercial Banner">
        <h2>About us</h2>
        <p>The European Portal for ID Cards is a collaborative initiative aimed at simplifying the process of obtaining and managing ID cards for individuals and organizations within the European Union. Our portal offers a range of services, from application procedures to detailed guides on ID card usage and benefits.</p>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
